
@{
    ViewBag.Title = "ClientTimer";

    @functions{
        public int number = 0;
        public async void AddTime()
        {
            number = number + 1;
        }
    }
}

<h2>ClientTimer</h2>

<h3 id="Time">@number</h3>

<button type="submit" asp-page-handler="AddTime()">Start</button>
<button>Stop</button>
<button>Reset</button>
<button>Done</button>

<select>
    <option>Service 1</option>
    <option>Service 2</option>
    <option>Service 3</option>
    <option>Service 4</option>
</select>


@Scripts{ }