
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<a href="ServiceManager">Services</a>
<table>
    <tbody>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
    </tbody>
</table>

<a href="ClientManager">
    <div class="fab">
        <div class="fab-crossbar"></div>
        <div class="fab-pillar"></div>
    </div>
</a>

