
@{
    ViewBag.Title = "Forgot";
}

<h2>Forgot</h2>
<label for="email">Email</label>
<input id="email" placeholder="JohnDoe@example.com" />
<button>Send Reset Email</button>
<a class="abuttonmod" href="./SignIn">Sign In</a>
<a class="abuttonmod" href="./SignUp">Sign Up</a>