
@{
    ViewBag.Title = "ServiceManager";
}

<h2>ServiceManager</h2>
<label for="service">Service Name</label>
<input id="service" placeholder="Mowing"/>
<label for="costperhour">Cost Per Hour</label>
<input id="costperhour" placeholder="50" type="number"/>
<label for="costperservice">Cost Per Service</label>
<input id="costperservice" placeholder="150" type="number" />
<button>Add</button>

<div>
    <p>services</p>
    <table>
        <tbody>
            <tr><td>Service1</td></tr>
            <tr><td>Service2</td></tr>
            <tr><td>Service3</td></tr>
            <tr><td>Service4</td></tr>
        </tbody>
    </table>
</div>

<button>Done</button>
