
@{
    ViewBag.Title = "SignUp";
}

<div>
    <h2>SignUp</h2>
    <label for="email">Email</label>
    <input placeholder="email" id="email" />
    <label for="password">Password</label>
    <input placeholder="******" id="password" />
    <label for="passwordver">Password</label>
    <input placeholder="******" id="passwordver" />
    <label for="company">Company Name</label>
    <input id="company" placeholder="ABC Corp." />
    <label for="name">Name</label>
    <input id="name" placeholder="John Doe" />
    <a class="abuttonmod" href="./SignIn">Sign In</a>
    <a class="abuttonmod" href="./SignUp">Sign Up</a>
    <a class="alink" href="./Forgot">Forgot?</a>
</div>
